<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org"> <!-- Adicionar o Thymeleaf -->
<head>
    <meta charset="UTF-8">
    <title>Contatos</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>
<body>
<div class="container">
    <div class="row">
        <div class="col-md-8">
            <h2>Contatos</h2>
            <table class="table table-hover table-responsive-md">
                <thead>
                <tr>
                    <th>ID</th>
                    <th>Nome</th>
                    <th>E-mail</th>
                    <th>Telefone</th>
                    <th></th>
                    <th></th>
                </tr>
                </thead>
                <tbody>
                <!--    Nossos contatos aqui... -->
                <tr th:each="contato : ${contatos}">
                    <td th:text="${contato.id}"></td>
                    <td th:text="${contato.nome}"></td>
                    <td th:text="${contato.email}"></td>
                    <td th:text="${contato.telefone}"></td>
                    <td><a th:href="@{/edit/{id}(id=${contato.id})}"><img height="16px" th:src="@{/images/edit.png}"/></a></td>
                    <td><a th:href="@{/delete/{id}(id=${contato.id})}"><img height="16px" th:src="@{/images/delete.png}"/></a></td>
                </tr>
                </tbody>
            </table>
        </div>
    </div>
    <p><a href="/cadastrar">Adicionar Usuario</a></p>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/js/bootstrap.min.js" integrity="sha384-ChfqqxuZUCnJSK3+MXmPNIyE6ZbWh2IMqE241rYiqJxyMiZ6OW/JmZQ5stwEULTy" crossorigin="anonymous"></script>
</body>
</html>